Repository jagretz/condense-graphql.macro: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run doctoc ., npm run eslint --, npm run prettier --

Update build script and babelrc
  .babelrc
  DEVELOPMENT.md
  package-lock.json
  package.json
Due: npm run doctoc ., npm run prettier --

0.1.1-1
  package.json
Due: npm run prettier --

Add .md extension to LICENSE
  LICENSE.md
Due: npm run doctoc ., npm run prettier --

Fix package dist references to point to correct build artifact
  LICENSE.md
  package-lock.json
  package.json
Due: npm run doctoc ., npm run prettier --

0.1.1-1
  package-lock.json
  package.json
Due: npm run prettier --

0.1.1-2
  package-lock.json
  package.json
Due: npm run prettier --

Update babel and build command to fix an dependency issue during use
  .babelrc
  package-lock.json
  package.json
  src/macro.js
  src/macro.test.js
Due: npm run eslint --, npm run prettier --

Macro can now process StringLiterals.
  DEVELOPMENT.md
  README.md
  src/macro.js
Due: npm run doctoc ., npm run eslint --, npm run prettier --

0.1.1-3
  package-lock.json
  package.json
Due: npm run prettier --

Update the build using seperate babel config for each known env
  .babelrc
  babel.config.js
  package-lock.json
  package.json
  src/__snapshots__/macro.test.js.snap
  src/macro.test.js
Due: npm run eslint --, npm run prettier --

Split index.js into multiple modules. Update readme section on Usage
  README.md
  src/browserOrNode.js
  src/condenseStringLiteral.js
  src/condenseTemplateLiteral.js
  src/macro.js
  src/utils.js
Due: npm run doctoc ., npm run eslint --, npm run prettier --

1.0.0
  package-lock.json
  package.json
Due: npm run prettier --

[minor] update deps and devDeps
  .eslintrc.js
  .prettierrc.js
  babel.config.js
  package-lock.json
  package.json
  src/condenseTemplateLiteral.js
  src/macro.js
  src/macro.test.js
Due: npm run eslint --, npm run prettier --

1.1.0
  package-lock.json
  package.json
Due: npm run prettier --

Path conditions:
  npm run doctoc .: any of: *.{md,mdx}
  npm run eslint --: any of: *.{js,jsx}
  npm run prettier --: any of: *.{js,jsx,css,scss,html,json,md,mdx}
